.bookWraper p{
  text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
.bookWraper img{
    height: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: zoom-in;
}
.bookWraper img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 80%;
  height: auto;
  transform: scale(1);
}
.bookWraper  {
  transition: all 0.3s;
}

.bookWraper:hover {
  transform: scale(1.1);
}