<ng-sidebar-container style="height: 100vh">
    <ng-sidebar [(opened)]="_opened" [mode]="'slide'">
      <img src="../../assets/man (1).png" alt="">
      <p>Wellcome, {{user}}</p>
      <p class="searchF">Search By Title</p>
      <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="selectItem($event)" placeholder="Search"/><br>
      <p class="searchF">Search By Genre</p>
      <select  id="genre" class="form-control" (change)="selectedGenre($event.target.value)">
          <option *ngFor="let genre of allGenres " value="{{genre}}">{{genre}}</option>
        </select>
        <p class="searchF">My Bookmarks:</p>
        <div *ngFor="let book of favoriteBooks" class="myBookmarks">
          <div class="bookmarkedBook">
              <i class="fa fa-book" aria-hidden="true"></i><span><p>{{book.name}}</p></span><i class="fa fa-times" aria-hidden="true" (click)="removeFromBookmarks(book.name)"></i>
          </div>
          
        </div>
    </ng-sidebar>
    <div ng-sidebar-content>
      <div>
        
        <div class="login" *ngIf="!loggedIn">
          <p (click)="login()">Log In</p><p (click)="register()">Register</p>
          </div>
          <div class="login" *ngIf="loggedIn">
              <p (click)="logout()">Log Out</p>
          </div>
        </div>
        <div class="header">
            <i class="fa fa-book fa-2x" aria-hidden="true"></i><span><div class="library"><p>My Personal Library</p></div></span>
        </div>
        <header class="header">
          <div>
            <i class="fa fa-exchange fa-2x" aria-hidden="true" (click)="_toggleSidebar()"  ></i>
          </div><span><input id="typeahead2" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="selectItem($event)" placeholder="Search"/></span>
          </header>
          <app-book-list [genre]='genre'></app-book-list>
    </div>
  </ng-sidebar-container>